In [16]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.DataFrame({
    'name':['John', 'Mary', 'Tom'],
    'gender':['male', 'female', 'male'],
    'age':[20, 22, 21],
})

# set title
st.title('first app')

# show dataframe
st.write(df)

# show a plot

fig, ax = plt.subplots()
df.age.plot(ax=ax)
st.pyplot(fig)
print(5)

5

In [18]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')


st.title('World Cites')
df = pd.read_csv('worldcities.csv')

# note that you have to use 0.0 and 40.0 given that the data type of population is float
population_filter = st.slider('Minimal Population (Millions):', 0.0, 40.0, 3.6)  # min, max, default

# create a multi select
capital_filter = st.sidebar.multiselect(
     'Capital Selector',
     df.capital.unique(),  # options
     df.capital.unique())  # defaults

# create a input form
form = st.sidebar.form("country_form")
country_filter = form.text_input('Country Name (enter ALL to reset)', 'ALL')
form.form_submit_button("Apply")


# filter by population
df = df[df.population >= population_filter]

# filter by capital
df = df[df.capital.isin(capital_filter)]

if country_filter!='ALL':
    df = df[df.country == country_filter]

# show on map
st.map(df)

# show dataframe
st.subheader('City Details:')
st.write(df[['city', 'country', 'population']])

# show the plot
st.subheader('Total Population By Country')
fig, ax = plt.subplots(figsize=(20, 5))
pop_sum = df.groupby('country')['population'].sum()
pop_sum.plot.bar(ax=ax)
st.pyplot(fig)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [19]:
from numpy import dtype
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')


st.title('World Cites')
df = pd.read_csv('worldcities.csv')

# note that you have to use 0.0 and 40.0 given that the data type of population is float
population_filter = st.slider('Minimal Population (Millions):', 0.0, 40.0, 3.6)  # min, max, default


st.map(df)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [20]:
df[df.capital=='primary']

,city,city_ascii,lat,lon,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37.977000,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34.540000,1360771077
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23.088000,1608618140
7,Seoul,Seoul,37.5600,126.9900,"Korea, South",KR,KOR,Seoul,primary,21.794000,1410836482
8,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,20.996000,1484247881
...,...,...,...,...,...,...,...,...,...,...,...
694,Ashgabat,Ashgabat,37.9500,58.3833,Turkmenistan,TM,TKM,Ahal,primary,1.031992,1795049992
696,Niamey,Niamey,13.5086,2.1111,Niger,NE,NER,Niamey,primary,1.026848,1562932886
697,Managua,Managua,12.1500,-86.2667,Nicaragua,NI,NIC,Managua,primary,1.028808,1558296252
702,Monrovia,Monrovia,6.3106,-10.8047,Liberia,LR,LBR,Montserrado,primary,1.021762,1430477826
710,Islamabad,Islamabad,33.6989,73.0369,Pakistan,PK,PAK,Islāmābād,primary,1.014825,1586306717